.order {
  padding: 130px 0;
  background-color: rgba(51, 51, 51, .1);
}

.order-inner {
  @include inner;
}

.order-title {
  padding-bottom: 40px;
  font-weight: 400;
  font-size: 64px;
  line-height: 87px;
  text-align: center;
  color: #333;
}

.order-text {
  padding-bottom: 90px;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  color: #333;
}

