.works {
  padding: 130px 0;

  @media (max-width: $tablet-max) {
    padding: 120px 0;
  }

  @media (max-width: $mobile-max) {
    padding: 90px 0;
  }
}

.works-inner {
  @include inner;
}

.works-text {
  padding-bottom: 80px;
  font-weight: 400;
  font-size: 64px;
  line-height: 87px;
  text-align: center;
  color: #333333;

  @media (max-width: $tablet-max) {
    padding-bottom: 70px;
    font-size: 60px;
    line-height: 82px;
  }

  @media (max-width: $mobile-max) {
    padding-bottom: 50px;
    font-size: 36px;
    line-height: 49px;
  }
}

.works-filter {
  display: flex;
  justify-content: center;
}

.works-filter-item {
  margin: 0 25px 40px 25px;
  list-style: none;

  @media (max-width: $tablet-max) {
    margin: 0 15px 40px 15px;
  }

  @media (max-width: $mobile-max) {
    margin: 0 10px 30px 10px;
  }
}

.works-link {
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
  transition: all .3s;

  &.active,
  &:hover {
    color: $base-red;
  }
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$gap-half;
  margin-right: -$gap-half;
  padding-bottom: 120px;

  @media (max-width: $tablet-max) {
    flex-wrap: wrap;
    padding-bottom: 60px;
  }

  @media (max-width: $mobile-max) {
    display: block;
    padding-bottom: 40px;
  }
}

.works-item {
  flex-basis: 25%;
  padding: 0 $gap-half 20px $gap-half;

  @media (max-width: $tablet-max) {
    flex-basis: 50%;
    padding-bottom: 20px;
  }

  @media (max-width: $mobile-max) {
    flex-basis: 100%;
  }

}

.works-portfolio {
  position: relative;
}

.portfolio-img-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);

  @media (max-width: $tablet-max) {
    padding: 20px 0;
  }
}

.btn-wrap {
  display: flex;
  justify-content: center;
}
