@mixin inner {
  width: 1278px;
  margin: 0 auto;
  border: 1px solid red;
}

@mixin logo {
    font-weight: 600;
    font-size: 42px;
    line-height: 57px;
    text-decoration: none;
    color: #fff;
}
