@mixin inner {
  max-width: 1278px + $gap;
  margin: 0 auto;
  padding: 0 $gap-half;
}

@mixin logo {
    font-weight: 600;
    font-size: 42px;
    line-height: 57px;
    text-decoration: none;
    color: #fff;

    @media (max-width: $tablet-max) {
      font-size: 36px;
      line-height: 49px;
    }

    @media (max-width: $mobile-max) {
      font-size: 28px;
      line-height: 38px;
    }
}


